.root {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.body {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: max-content;
    margin: 70px 0 0 0;
    overflow: auto;
}

.main {
    width: 100%;
    flex: 1;
    min-height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    padding: 50px 0 20px 0;
}

.footer {
    width: 100%;
    height: 100px;
    min-height: 100px;
    border-top: 1px solid var(--color-border);
}
