:root {
    --color-primary: #23262f;
    --color-secondary: #8392ab;
    --color-danger: #ff3c3c;
    --color-link: #0e78f5;
    --color-active: #3b71fe;
    --color-border: #c5ccdf;
    --color-text-button: #ffffff;
    --color-gradient: linear-gradient(135deg, #0072ce, #4d7efc);
    --color-gradient-secondary: linear-gradient(90.93deg, rgb(249, 185, 25) 15.31%, rgb(254, 204, 54) 96.49%);
    --color-boxshadow: rgb(0 0 0 / 8%) 0px 20px 27px 0px;
    --color-background: rgba(255, 255, 255, 0.5);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    color: var(--color-primary);
    background: #ffffff;
}

.form_bg {
    background: #f6f6f6 no-repeat center top;
    background-image: url(../public/bg.jpg);
    background-size: cover;
    filter: blur(3rem);
    height: 88vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    font-family: 'Bai Jamjuree', sans-serif;
}

button {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgb(150, 146, 146);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #bfbdc5;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #c9c6d6;
}
