.root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn_area {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.signIn_button {
    width: 100%;
    border: none;
    border-radius: 3000px;
    font-size: 16px;
    font-weight: 600;
    padding: 13px;
}

.signIn_button:hover {
    cursor: pointer;
}

.signOut_area {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcfcfd;
}

.signOut_button {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 3000px;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    margin: 30px 15px;
    background-color: #0072ce;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.account_button {
    width: 100%;
    border: none;
    border-radius: 3000px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #e9e9e9;
    cursor: pointer;
}

.account_button_icon_area {
    display: flex;
    align-items: center;
}

.account_button_icon {
    font-size: 28px !important;
    color: var(--color-primary);
}

.account_button_accountId_area {
    margin-left: 5px;
    flex: 1;
    color: var(--color-primary);
    font-family: 'Bai Jamjuree', sans-serif;
}

.account_button_drop_icon {
    font-size: 28px !important;
    color: #cdcdcd;
}

.signOut_button_icon {
    font-size: 32px;
    color: white;
}

.signOut_button_content {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
}
